.heading
{
    font-size: 25px;
    width: 100%;
    margin: 0;
}

.note
{
    font-size: 15px;
    color: black;
}

#heythere
{
font-size: 20px;
width: 130px;
height: 50px;
float: left;
}

#hithere
{
font-size: 20px;
width: 130px;
height: 50px;
float: right;
}